.App{
  display: flex;
  gap: 4rem;
  margin: 8.50rem;
  justify-content: center;
  align-items: center;
}
.player-card {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    color: black;
    transition: transform 0.2s ease-in-out;
  }
  
  .player-card:hover {
    transform: scale(1.05);
  }
  
  .player-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .player-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .player-position {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
  }
  
  .player-stats {
    margin-top: 10px;
  }
  
  .player-stats p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  @media (max-width: 400px) {
    .player-card {
      width: 90%;
      padding: 10px;
    }
  
    .player-name {
      font-size: 20px;
    }
  
    .player-position {
      font-size: 16px;
    }
  
    .player-stats p {
      font-size: 14px;
    }
  }
  